* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f5f4f1;
  color: #1b1d2a;
  font-weight: 500;
  font-family: "GT Walsheim Pro", sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500; }

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block; }

h1 {
  font-family: "GT Walsheim Pro", sans-serif; }

.navigator {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: rgba(245, 244, 241, 0.25);
  backdrop-filter: blur(12px) saturate(100%);
  -webkit-backdrop-filter: blur(12px) saturate(50%);
  display: flex; }
  .navigator_container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px; }
  .navigator .nav_right {
    display: flex; }
    .navigator .nav_right_imglist {
      display: flex; }
  .navigator .nav_circle {
    position: relative;
    width: 28px;
    height: 28px;
    margin-right: -4px; }
    .navigator .nav_circle_else {
      border-radius: 50%;
      background-color: #995cbf;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px; }
    .navigator .nav_circle:hover > .nav_detail {
      display: block; }
  .navigator .nav_detail {
    display: none;
    position: absolute;
    left: -74px;
    top: 32px;
    width: 176px;
    height: 196px;
    border-radius: 12px;
    background-color: rgba(30, 31, 37, 0.9);
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(12px) saturate(100%); }
    .navigator .nav_detail_container {
      color: #ffffff;
      text-align: center; }
  .navigator .nav_hiringbtn {
    display: inline-block;
    margin-left: 16px;
    padding: 4px 12px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.15); }
    .navigator .nav_hiringbtn span {
      color: black;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500; }
  .navigator .nav_job {
    display: none; }

.hero {
  height: auto;
  margin-top: 64px;
  min-height: 70vh; }
  .hero_container {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    min-height: 70vh;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    border-radius: 32px;
    background-color: #4c5dc1; }
  .hero_content {
    position: relative;
    z-index: 1;
    display: flex;
    height: 240px;
    max-width: 360px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center; }
    .hero_content_text {
      margin-bottom: 8px;
      color: #d1d5ff;
      font-size: 12px;
      letter-spacing: 4px;
      text-transform: uppercase;
      animation: show 3s 0s 1 none; }
@keyframes show {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .hero_content_title {
      font-size: 40px;
      line-height: 48px;
      font-weight: 500; }
      .hero_content_title span {
        display: inline-block; }
        .hero_content_title span:nth-child(1) {
          animation: bottomToTop 0.5s 0s 1 none; }
@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translate(0, 50%); }
  100% {
    opacity: 1;
    transform: translate(0, 0%); } }
        .hero_content_title span:nth-child(2) {
          animation: bottomToTop 1s 0s 1 none; }
@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translate(0, 50%); }
  100% {
    opacity: 1;
    transform: translate(0, 0%); } }
        .hero_content_title span:nth-child(3) {
          animation: bottomToTop 1.5s 0s 1 none; }
@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translate(0, 50%); }
  100% {
    opacity: 1;
    transform: translate(0, 0%); } }
        .hero_content_title span:nth-child(4) {
          animation: bottomToTop 2s 0s 1 none; }
@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translate(0, 50%); }
  100% {
    opacity: 1;
    transform: translate(0, 0%); } }
        .hero_content_title span:nth-child(5) {
          animation: bottomToTop 2.5s 0s 1 none; }
@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translate(0, 50%); }
  100% {
    opacity: 1;
    transform: translate(0, 0%); } }
        .hero_content_title span:nth-child(6) {
          animation: bottomToTop 3s 0s 1 none; }
@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translate(0, 50%); }
  100% {
    opacity: 1;
    transform: translate(0, 0%); } }
  .hero_img {
    position: relative;
    margin-right: auto;
    margin-left: auto; }

.intro {
  position: relative;
  z-index: 0;
  display: flex;
  padding-top: 120px;
  padding-bottom: 16px;
  justify-content: center; }
  .intro_container {
    position: relative;
    display: block;
    max-width: 560px;
    margin-right: 24px;
    margin-left: 24px; }
    .intro_container p {
      margin-bottom: 48px;
      font-size: 32px;
      line-height: 40px; }
  .intro_pen {
    position: absolute;
    top: 110px;
    right: -180px; }
    .intro_pen img {
      width: 168px; }
  .intro_strike {
    position: absolute;
    left: -240px;
    bottom: 120px; }
    .intro_strike_up img {
      width: 218.5px; }
    .intro_strike_down {
      position: absolute;
      right: 30px;
      bottom: -56px; }
      .intro_strike_down img {
        width: 124px; }

.youcalendar {
  margin: 0 auto;
  max-width: 1440px;
  padding: 160px 24px;
  overflow: hidden; }
  .youcalendar_container {
    display: flex;
    max-height: 800px;
    min-height: 720px; }
    .youcalendar_container_left {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      border-radius: 32px;
      background: linear-gradient(81.23deg, #5c6ae4 -3.32%, rgba(196, 196, 196, 0) 153.75%), linear-gradient(351.21deg, #ffd771 0%, rgba(255, 215, 113, 0) 122.07%), linear-gradient(346.2deg, #c84c4c -28.1%, #c84c4c 109.05%); }
      .youcalendar_container_left img {
        width: 36vw; }
    .youcalendar_container_imgcontainer {
      display: flex;
      justify-content: center;
      align-content: center; }
    .youcalendar_container_right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1; }
    .youcalendar_container_content {
      max-width: 360px;
      text-align: center; }
      .youcalendar_container_content h3 {
        width: 100%;
        margin-bottom: 16px;
        background-image: linear-gradient(146deg, #5c6ae4, #a14ece);
        color: #5c6ae4;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; }
      .youcalendar_container_content p {
        display: inline;
        margin-right: 8px;
        font-size: 32px;
        line-height: 40px; }
  .youcalendar_imgperson {
    position: absolute;
    left: 72%;
    right: -28%;
    bottom: 10%; }

.youmeeting {
  margin: 0 auto;
  max-width: 1440px;
  padding: 160px 24px;
  overflow: hidden;
  margin: -160px auto; }
  .youmeeting_container {
    display: flex; }
    .youmeeting_container_left {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1; }
    .youmeeting_container_imgcontainer {
      position: absolute;
      left: -32%;
      right: 8%; }
    .youmeeting_container_right {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 800px;
      min-height: 720px;
      flex: 1;
      border-radius: 32px;
      background: linear-gradient(345.78deg, #5260db -6.89%, rgba(196, 196, 196, 0) 130.35%), linear-gradient(158.93deg, #ffd771 -53.51%, rgba(255, 255, 255, 0) 79.37%), linear-gradient(346.2deg, #c84c4c -28.1%, #c84c4c 109.05%); }
    .youmeeting_container_content {
      max-width: 360px;
      text-align: center; }
      .youmeeting_container_content h3 {
        width: 100%;
        margin-bottom: 16px;
        color: #5c6ae4;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(219deg, #e45c5c, #a14ece); }
      .youmeeting_container_content p {
        display: inline;
        margin-right: 8px;
        font-size: 32px;
        line-height: 40px; }
  .youmeeting_imgperson {
    position: absolute;
    left: 15%;
    top: -210px;
    right: 65%; }

.mission {
  display: block;
  overflow: hidden; }
  .mission_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 120px 24px 160px; }
    .mission_container p {
      font-size: 24px;
      line-height: 32px; }
      .mission_container p:first-child {
        max-width: 427px;
        margin-bottom: 48px; }
      .mission_container p:last-child {
        max-width: 370px;
        margin-bottom: 24px; }

@media only screen and (max-width: 480px) {
  .hero_img {
    top: -30px;
    margin-bottom: 0px;
    margin-right: -15%;
    margin-left: -15%; }

  .navigator .nav_circle:nth-child(5) {
    display: none; }
  .navigator .nav_job {
    display: inline; }
  .navigator .nav_hiring {
    display: none; }

  .youcalendar_container_left img {
    width: 100vw; }
  .youcalendar_container_right {
    max-height: 720px;
    min-height: 330px; }

  .youmeeting {
    overflow: visible; }
    .youmeeting_container_right {
      max-height: 720px;
      min-height: 330px; } }
@media all and (min-width: 480px) and (max-width: 767px) {
  .hero_img {
    top: -30px;
    margin-bottom: 0px;
    margin-right: -15%;
    margin-left: -15%; }

  .youmeeting_container_right {
    max-height: 680px;
    min-height: 560px; } }
@media all and (max-width: 767px) {
  .hero_content {
    max-width: 280px; }
    .hero_content_title {
      font-size: 32px; }

  .intro_container {
    max-width: 440px; }
    .intro_container p {
      font-size: 24px;
      line-height: 32px; }
  .intro_pen {
    display: none; }
  .intro_strike {
    display: none; }

  .youcalendar {
    margin-top: -80px;
    padding-top: 160px;
    padding-bottom: 0; }
    .youcalendar_container {
      flex-direction: column;
      max-height: none;
      min-height: 0; }
      .youcalendar_container_left img {
        width: 85vw; }
      .youcalendar_container_right {
        margin-top: 30%; }
      .youcalendar_container_imgcontainer {
        padding: 32px 32px 48px; }
      .youcalendar_container_content p {
        font-size: 24px;
        line-height: 32px; }
    .youcalendar_imgperson {
      position: absolute;
      left: 30%;
      right: 0;
      bottom: -29%; }

  .youmeeting {
    margin-top: 0;
    padding-top: 80px; }
    .youmeeting_container {
      max-width: 90%;
      margin: 0 auto;
      flex-direction: column-reverse; }
      .youmeeting_container_left {
        max-width: 100%;
        margin-top: 80px; }
      .youmeeting_container_imgcontainer {
        position: relative;
        left: 0;
        right: 0; }
      .youmeeting_container_content p {
        font-size: 24px;
        line-height: 32px; }
    .youmeeting_imgperson {
      left: 10%;
      top: -150px;
      right: 70%; } }
@media all and (min-width: 767px) and (max-width: 990px) {
  .hero_img {
    top: -48px;
    margin-bottom: -48px; }

  .intro_container {
    max-width: 440px; }
    .intro_container p {
      font-size: 24px;
      line-height: 32px; }

  .youcalendar_container_right,
  .youmeeting_container_right {
    max-height: 640px;
    min-height: 560px; }
  .youcalendar_container_content,
  .youmeeting_container_content {
    max-width: 250px; }
    .youcalendar_container_content p,
    .youmeeting_container_content p {
      font-size: 24px;
      line-height: 32px; }

  .youmeeting_container_content {
    max-width: 280px; } }
@media all and (min-width: 990px) and (max-width: 1280px) {
  .hero_img {
    top: -120px;
    margin-bottom: -120px; } }
@media all and (min-width: 1280px) {
  .hero_img {
    top: -160px;
    margin-bottom: -160px; } }

/*# sourceMappingURL=style.css.map */
